@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - form </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" /> 

</head>
<body>

    <div  style="width:100%;margin:5px">
        <main role="main" >
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/lib/dx/dx.all.js"></script>
    <script src="/lib/dx/dx.aspnet.data.js"></script>
    <script src="~/lib/vue.js"></script>
    <script src="~/lib/numeral.js"></script>
    <script src="~/js/dxBase.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
@*     <script src="~/js/xPopup.js" asp-append-version="true"></script> *@
    <div id="dxPopup"></div>
</body>
</html>
