<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr" version="3.4.1.9004" targetFramework="net472" />
  <package id="AutoMapper" version="8.1.1" targetFramework="net472" />
  <package id="bootstrap" version="4.3.1" targetFramework="net472" />
  <package id="ChoETL" version="1.2.0.8" targetFramework="net472" />
  <package id="DevExtreme.AspNet.Data" version="2.8.6" targetFramework="net472" />
  <package id="DynamicInterop" version="0.9.1" targetFramework="net472" />
  <package id="EntityFramework" version="6.3.0" targetFramework="net472" />
  <package id="JmesPath.Net" version="1.0.125" targetFramework="net472" />
  <package id="jQuery" version="3.2.1" targetFramework="net472" />
  <package id="jQuery.Validation" version="1.17.0" targetFramework="net472" />
  <package id="JUST.net" version="4.0.0" targetFramework="net472" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.2" targetFramework="net472" />
  <package id="Microsoft.AspNet.Identity.EntityFramework" version="2.2.2" targetFramework="net472" />
  <package id="Microsoft.AspNet.Identity.Owin" version="2.2.2" targetFramework="net472" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.7" targetFramework="net472" />
  <package id="Microsoft.AspNet.Razor" version="3.2.7" targetFramework="net472" />
  <package id="Microsoft.AspNet.Web.Optimization" version="1.1.3" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.4" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.4" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.Client.ru" version="5.2.4" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.4" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.Core.ru" version="5.2.4" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.4" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.WebHost.ru" version="5.2.4" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.7" targetFramework="net472" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.1" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net472" />
  <package id="Microsoft.jQuery.Unobtrusive.Validation" version="3.2.11" targetFramework="net472" />
  <package id="Microsoft.Owin" version="4.0.1" targetFramework="net472" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="4.0.1" targetFramework="net472" />
  <package id="Microsoft.Owin.Security" version="4.0.1" targetFramework="net472" />
  <package id="Microsoft.Owin.Security.Cookies" version="4.0.1" targetFramework="net472" />
  <package id="Microsoft.Owin.Security.OAuth" version="4.0.1" targetFramework="net472" />
  <package id="Microsoft.TypeScript.Compiler" version="3.1.5" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.VisualStudio.Azure.Containers.Tools.Targets" version="1.10.13" targetFramework="net472" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net472" />
  <package id="Microsoft.Win32.Registry" version="4.5.0" targetFramework="net472" />
  <package id="Modernizr" version="2.8.3" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net472" />
  <package id="Newtonsoft.Json.Schema" version="3.0.10" targetFramework="net472" />
  <package id="Ninject" version="3.3.4" targetFramework="net472" />
  <package id="Ninject.Web.Common" version="3.3.0" targetFramework="net472" />
  <package id="Ninject.Web.Common.WebHost" version="3.3.0" targetFramework="net472" />
  <package id="Ninject.Web.WebApi" version="3.3.0" targetFramework="net472" />
  <package id="Ninject.Web.WebApi.WebHost" version="3.3.0" targetFramework="net472" />
  <package id="NLog" version="4.7.5" targetFramework="net472" />
  <package id="NLog.Schema" version="4.7.5" targetFramework="net472" />
  <package id="NLog.Web" version="4.9.3" targetFramework="net472" />
  <package id="Owin" version="1.0" targetFramework="net472" />
  <package id="popper.js" version="1.14.3" targetFramework="net472" />
  <package id="Portable.Licensing" version="1.1.0" targetFramework="net472" />
  <package id="R.NET" version="1.8.2" targetFramework="net472" />
  <package id="System.CodeDom" version="4.4.0" targetFramework="net472" />
  <package id="System.ComponentModel.Annotations" version="4.4.1" targetFramework="net472" />
  <package id="System.Configuration.ConfigurationManager" version="4.4.1" targetFramework="net472" />
  <package id="System.Data.SqlClient" version="4.4.3" targetFramework="net472" />
  <package id="System.Reflection" version="4.3.0" targetFramework="net472" />
  <package id="System.Reflection.Emit" version="4.3.0" targetFramework="net472" />
  <package id="System.Reflection.Emit.Lightweight" version="4.3.0" targetFramework="net472" />
  <package id="System.Reflection.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.AccessControl" version="4.5.0" targetFramework="net472" />
  <package id="System.Security.Principal.Windows" version="4.5.0" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="System-Web-Helpers.dll" version="1.0.0" targetFramework="net472" />
  <package id="WebActivatorEx" version="2.2.0" targetFramework="net472" />
  <package id="WebGrease" version="1.5.2" targetFramework="net472" />
</packages>