using Entity;
using Sasha.Lims.DataAccess.Entities.Entity;
using Entity.Controllers;
using Microsoft.AspNetCore.Mvc;

namespace tmp {

    [Area("")]
    public class DkCardController : GenericCardController<$entity$>
    {
        public DkCardController(IHttpContextAccessor httpContextAccessor) : base(httpContextAccessor) { }

    }
}