  @{  
	  ViewBag.Title = "Error Page";
	  Layout = null;
  }  

  <div style=" padding:20px; color:red" >  
	  <h3>  
		  An Error Occurred:
	  </h3>  
	  <h4>  
		  @Html.Raw(Model);
	  </h4>  
	 <h6>@Html.ActionLink("Go Back To Home Page", "Index", "Home",new  { Area =""})</h6>
	 <br />
	  <br />  
  </div>   

